[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"

[packages]
django = "*"
django-crispy-forms = "*"
gunicorn = "*"
celery = {extras = ["redis"],version = "*"}
psycopg2-binary = "*"
reportlab = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
